// Before adding to this file, make sure you can't make the changes to the _settings.scss file in one of the variables.

#skip-link {
  position: absolute !important;
  z-index: 40;
  color: #0479a8;
  padding: 0.3rem;
  background-color: #fff;
}

#uw-top-menus + .row {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.menu li {
	margin-bottom: 0;
}

#side-menu > h3:first-child {
	margin-top: 0.5rem;
}

header .uw-search-form {
	margin-top: 1rem;
}
.tabs-container {
	margin-bottom: 1rem;
}
.tabs li {
	margin-bottom: 0;
}


/**
 *
 * Base Foundation Page Layout
 *
 */
#header {
	border-bottom: 5px solid $primary-color;
	#uw-utility-menu-wrapper {
		background-color: $primary-color;
		.utility-navigation {
			@include flex-grid-row();
			a {
				color: $white;
			}
		}
	}
	.site-header-main {
		@include flex-grid-row();
		.site-branding {
			@include flex-grid-column();
			padding-top: 40px;
		}
	}
}

#site-navigation {
	@include flex-grid-row();
	#menu-primary {
		@include flex-grid-column();
	}
}

h1.page-title {
	// color: $primary-color;
	margin-bottom: 0;
	&.uw-mini-bar {
		margin-top: 1rem;
		@include breakpoint(medium up) {
			margin-top: 2.2rem;
		}
	}
}


// Layouts

#page {
	@include flex-grid-row();
	// &.content {
	// 	padding: 40px 0;
	// }
	main {
		@include flex-grid-column();
		// max-width:100%; // still need for the image carousel to be responsive; should be resolved now (with it, it force-wraps the #secondary column)
	}
	#secondary {
		@include flex-grid-column(4);
		@include breakpoint(small only) {
			@include flex-grid-column(12);
			padding-top: 0rem;
		}
		padding-top: 6rem;
		padding-bottom: 2rem;
	}
	&.page-builder {
		@include flex-grid-row(null, 100%, null, true, 0);
		padding-bottom: 0;
		.breadcrumbs {
			padding-left: $global-padding*1;
			padding-right: $global-padding*1;
		}
		article > header, #comments, .entry-footer {
			@include flex-grid-row();
			padding: 0 $global-padding*1;
		}
		@include breakpoint(medium up) {
			.breadcrumbs {
				padding-left: $global-padding*1.5;
				padding-right: $global-padding*1.5;
			}
			article > header, #comments, .entry-footer {
				padding: 0 $global-padding*1.5;
			}
		}
		#comments {
			display: block;
		}
		main {
			padding: 0 !important;
			max-width:100%; // fixes image carousel respnsiveness issues
			> article > .entry-content {
				margin-bottom: 1rem;
			}
		}
	}
}
main > *:first-child {
	padding-top: 2rem;
}
.home .page-builder main >  *:first-child {
	padding-top: 0;
}

.uw-outer-row {
	// @include flex-grid-row(null, 100%, null, true, 0);
	padding: $global-padding*4 0;
	&:first-child {
		padding-top: $global-padding*2;
	}
  .uw-inner-row {
  	width: 100%;
		@include flex-grid-row();
		> .uw-column {
			@include flex-grid-column(12)
			&.uw-row-header {
				h2 {
					@include mini-bar($align: center);
					&:before {
						height: 6px;
						width: 3rem;
						top: -16px;
					}
					text-align: center;
					margin-top: 0;
					margin-bottom: 2rem;
				}
				// undo minibar within sections with header rows
				// ~ .uw-column .uw-mini-bar {
				// 	margin-top: 0;
				// 	&:before {
				// 		height: 0;
				// 		position: static;
				// 		border-bottom: none;
				// 	}
				// }
			}
			> .uw-pe {
				margin-bottom: $global-padding*3;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		.equal-column {
			@include flex-grid-column(6);
		}
		.narrow-column {
			@include flex-grid-column(4);
		}
		.wide-column {
			@include flex-grid-column(8);
		}
		.three-column {
			@include flex-grid-column(4);
		}
	}
	&.primary-background, &.secondary-background, &.dark-gray-background {
		.uw-inner-row > .uw-column.uw-row-header > h2:before {
			background-color: $white;
		}
		&.has_stylized_quote {
			blockquote {
				p,small {
					color: $white;
				}
			}
		}
	}
	&.has_background-image {
		.uw-inner-row > .uw-column.uw-row-header > h2 {
			color: $primary-color;
		}
	}

	@include breakpoint(small only) {
		padding: $global-padding*2 0;
		.uw-inner-row {
			> .uw-column {
				padding-bottom: $global-padding*2;
				&.uw-row-header {
					padding-bottom: 1rem;
					h2 {
						margin-top: 1rem;
						margin-bottom: 0;
					}
				}
				&:last-child {
					padding-bottom: 0;
				}
				> .uw-pe {
					margin-bottom: 2rem;
				}
			}
			.narrow-column,
			.equal-column,
			.wide-column,
			.three-column {
				@include flex-grid-column(12);
			}
		}
	}


	// example row styling
	// ********************
	&.default-background {
		.uw-inner-row > .uw-column.uw-row-header > h2 {
      // color: $primary-color;
		}
		// alternate rows
		&:nth-child(even) {
			background-color: $body-background;
			+ .uw-outer-row.lightest-gray-background {
				padding-top: 0;
			}
			.uw-content-box {
				background-color: $white;
			}
		}
	}
	// &.stylized_quote {
	// 	background-color: $white;
	// }
	// background images
	// &:last-child {
	// 	background: rgba(0, 0, 0, 0) url(http://www.wisc.edu/images/home/bg-wisconsin-idea.jpg) no-repeat 0 0;
 //    background-size: cover;
	// }
}
@include breakpoint(medium up) {
	.home .uw-outer-row {
		&:first-child {
			padding-top: $global-padding*4;
		}
	}
}

.uw-pe-text_block > h2:first-child, .uw-pe-text_block > h3:first-child {
	// @include mini-bar();
	margin-top: 0;
}
.uw-pe-text_block {
	> p:last-child, > ul > li:last-child, ul:last-child {
		margin-bottom: 0
	}
}
.uw-pe-text_block {
  p,li,dt,dd {
    font-family: $uw-serif-font;
    -webkit-font-smoothing: auto;
  }
  li a {
  	text-decoration: underline;
  }
}
.uw-pe-latest_posts > ul:last-child {
	margin-bottom: 0;
}
@include breakpoint(small only) {
	.uw-pe-alternating_content_boxes {
		margin-left: $global-padding*-1;
		margin-right: $global-padding*-1;
	}
	.uw-pe-group_of_links .uw-content-box {
		padding: $global-padding;
		border-bottom: none;
	}
}

// add minibar for layout row with exactly three .three-column
.three-column {
	> .uw-pe:first-child > h2:first-child {
		@include mini-bar();
		margin-top: 1rem;
		&[style*="text-align: center"] {
			@include mini-bar(center);
		}
	}

}

aside.uw-content-box {
	padding: $global-padding;
	@include breakpoint(rem-calc(440)) {
		padding: $global-padding*2;
	}
	a {
		border-bottom: none !important;
	}

}

.uw-pe-image_carousel {
	// margin-top: 2rem;
}

.breadcrumbs {
	@include flex-grid-row();
	padding: $global-padding*2 0 0 0;
}



#footer {
	border-top: 5px solid $primary-color;
	.site-footer-main {
		@include flex-grid-row();
		.footer-content {
			@include flex-grid-column();
		}
	}
}


// contact and social shortcode in .entry-content
.entry-content {
	.uw-map-marker {
		fill: $anchor-color;
		&:hover {
			fill: darken($anchor-color,5%);
		}
	}
	.uw-social-icons {
		li {
			margin-right: 0;
		}
		a {
			background-color: transparent;
			padding: 0;
			svg {
				fill: $anchor-color;
			}
			&:hover svg {
				fill: darken($anchor-color,5%);
			}
		}
	}
}


/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%;
}


// aside widget misc
.widget_nav_menu .menu {
	display: block;
	margin-top: 1rem;
	> li {
		margin-bottom: 1rem;
		&:last-child {
			margin-bottom: 0;
		}
	}
	> li > a {
		padding: 0;
	}
}
.widget .widget-title {
	@include mini-bar();
	margin-top: 1rem;
}
.widget ul {
	margin-top: 1rem;
	li {
		margin-bottom: 1rem;
		line-height: 1.25;
	}
}