/* =Comments
----------------------------------------------- */
.comments-title {
  color: $medium-gray;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.35;
  padding: 0 0 1.6em;
  margin-top: 3rem;
  text-transform: uppercase;
}
.nopassword,
.nocomments {
  color: $medium-gray;
  font-size: 24px;
  font-weight: 100;
  margin: 26px 0;
  text-align: center;
}
.comment-list {
  list-style: none;
  margin: 0;
  width: auto;
  ol {
    list-style: none;
  }
  li {
    list-style: none;
  }
}
.comment-list > li.comment {
  background: #fff;
  border: 1px solid $light-gray;
  border-radius: .25rem;
  margin: 0 0 1.625em;
  padding: 1.625em;
  position: relative;
}
.comment-list .pingback {
  margin: 0 0 1.625em;
}
.comment-list  ul {
  list-style: none;
  margin: 0;
}
.comment-list  ul li.comment {
  background: #fff;
  border-radius: 0 3px 3px 0;
  margin: 1.625em 0 0 1.625em;
  position: relative;
  article.comment {
    background: #fff;
    border: 1px solid $light-gray;
    border-radius: 3px;
    margin: 0 0 1.625em;
    padding: 1.625em;
    position: relative;
  }
}
.comment-list > li.comment > ul > li {
  margin-left: 0;
}
.comment-list  ul li.comment .fn {
  display: block;
}
.comment-meta .fn {
  font-style: normal;
}
.comment-meta {
  color: $dark-gray;
  font-size: 1rem;
  line-height: 1.35;
  margin-bottom: 1rem;
}
.comment-list  ul li.comment .comment-meta {
  line-height: 1.625em;
  margin-left: 0px;
}
.comment-list  ul li.comment .comment-content {
  margin: 1.625em 0 0;
}
.comment-meta a {
  font-weight: bold;
}
.comment-meta a:focus,
.comment-meta a:active,
.comment-meta a:hover {
}
.comment-list .avatar {
  display: none;
}
.comment-list  ul .avatar {
  background: none;
  box-shadow: none;
  left: 2.2em;
  padding: 0;
  top: 2.2em;
}
a.comment-reply-link {
  background: #fff;
  border-radius: 3px;
  color: $anchor-color;
  border: 1px solid $anchor-color;
  display: inline-block;
  font-size: 1rem;
  padding: 0 8px;
  text-decoration: none;
}
a.comment-reply-link:hover,
a.comment-reply-link:focus,
a.comment-reply-link:active {
  background: $anchor-color;
  color: $white;
}
a.comment-reply-link > span {
  display: inline-block;
  position: relative;
  top: -1px;
}


@include breakpoint(rem-calc(600px)) {
  .comment-list {
    margin: 0 0 0 88px;
  }
  .comment-list .avatar {
    display: block;
    border-radius: 3px;
    box-shadow: 0 1px 2px #ccc;
    left: -90px;
    padding: 0;
    position: absolute;
    top: 0;
  }
  .comment-list  ul li.comment .comment-meta {
    margin-left: 50px;
  }
}


/* Comment Form */
#respond {
  margin: 3rem auto;
  position: relative;
}
#respond input[type="text"],
#respond textarea {
  background: #fff;
  border: 4px solid $uw-gray-lightest;
  position: relative;
  padding: 10px;
  text-indent: 80px;
}
#respond .comment-form-author,
#respond .comment-form-email,
#respond .comment-form-url,
#respond .comment-form-comment {
  position: relative;
}
#respond .comment-form-author label,
#respond .comment-form-email label,
#respond .comment-form-url label,
#respond .comment-form-comment label {
  background: $uw-gray-lightest;
  color: #555;
  display: inline-block;
  font-size: .925rem;
  min-width: 60px;
  padding: 4px 10px;
}
#respond input[type="text"]:focus,
#respond textarea:focus {
  text-indent: 0;
  z-index: 1;
}
#respond textarea {
  resize: vertical;
  width: 95%;
}
#respond .comment-form-author .required,
#respond .comment-form-email .required {
  color: #bd3500;
  font-size: 22px;
  font-weight: bold;
  left: 75%;
  position: absolute;
  top: 3.3rem;
  z-index: 1;
}
#respond .comment-notes,
#respond .logged-in-as {
  font-size: .925rem;
  margin: 0;
}
#respond p {
  margin: 10px 0;
}
#respond input#submit {
  background: $uw-anchor-color;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
  color: white;
  cursor: pointer;
  font-size: .925rem;
  font-weight: 800;
  border: none;
  padding: 5px 42px 5px 22px;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
  text-transform: uppercase;
  width: auto;
}
#respond input#submit:active, #respond input#submit:hover {
  background: darken($uw-anchor-color,5%);
  color: white;
}
#respond #cancel-comment-reply-link {
  text-decoration: none;
}
#respond .logged-in-as a:hover,
#respond #cancel-comment-reply-link:hover {
  text-decoration: underline;
}
.comment-list #respond {
  margin: 1.625em 0 0;
  width: auto;
}
#reply-title {
  color: #593a1b;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 30px;
  margin-top: 0;
}
#cancel-comment-reply-link {
  color: $uw-anchor-color;
  display: block;
  font-size: .9rem;
  font-weight: normal;
  line-height: 1;
  position: absolute;
  right: 1.625rem;
  text-decoration: none;
  text-transform: uppercase;
  top: .5rem;
}
#cancel-comment-reply-link:focus,
#cancel-comment-reply-link:active,
#cancel-comment-reply-link:hover {
  color: $uw-anchor-color;
}
#respond label {
  line-height: 2.2em;
}
#respond input[type=text] {
  display: block;
  height: 3rem;
  width: 75%;
}
p.comment-form-comment {
  margin: 0;
}