@mixin mini-bar($align: left, $color: $primary-color) {
  position: relative;
  margin-top: 2.2rem;
  &:before {
    position: absolute;
    left: 0;
    height: 4px;
    content: '';
    width: 2rem;
    top: -12px;
    background-color: $color;
    @if $align == center {
      right: 0;
      margin: 0 auto;
    }
  }
}

// any element (e.g., heading) that has a short bar above it. For presentation-only.
.uw-mini-bar {
  @include mini-bar();
}
h1.uw-mini-bar:before {
  height: 4px;
  width: 3rem;
}

.uw-mini-bar-center {
  @include mini-bar($align: center);
}
.uw-mini-bar-white {
  @include mini-bar($color: white);
}

// on dark backgrounds
.row-dark-background .uw-mini-bar:before {
  background-color: $white;
  height: 3px;
}