.pagination-container {
  text-align: center;
  margin-bottom: 4rem;
}
.pagination {
  // background-color: $lightest-gray;
  li {
    margin-bottom: 0;
    background-color: $lightest-gray;
    &.pagination-previous, &.pagination-next {
      background-color: transparent;
    }
    a:hover {
      color: $white;
    }
    &.ellipsis {
      padding: rem-calc(6 0);
      background-color: transparent;
      &:after {
        padding: 0.375rem 1rem
      }
    }
  }

  &.pagination-post-pages {
    margin: 2rem 0 -2rem;
    text-align: left;
    > span:not(.page-links-title), > a {
      display: inline-block;
      padding:0.25rem .5rem;
    }
    > a {
      color: $anchor-color;
      &:hover {
        color: $white;
      }
    }
  }
}
.post-navigation {
  background-color: $lightest-gray;
  margin: 3rem 0;
  padding: .5rem 1rem;
  .nav-links {
    display: flex;
    justify-content: space-between;
    > .nav-previous a:before {
      content: "\00AB";
      margin-right: .1rem;
    }
    > .nav-next a:after {
      content: "\00BB";
      margin-left: .25rem;
    }
  }
}



// Previously in file. was not being included, so probably safe to remove

// .uw-pagination {
//   background-color: $lightest-gray;
//   padding: 0 1rem;
// }
// .uw-pagination-prev-next {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   > [class*="uw-pagination"] {
//     display: inline-block;
//   }
// }

// expand for page-numbered pagination
