.accordion {
  margin-bottom: 0;
  .accordion-title {
    font-size: rem-calc(18);
    font-family: $body-font-family;
    font-weight: 800;
    padding: $global-padding;
    padding-left: $global-padding*2.5;
    color: $body-font-color !important;
    text-decoration: none !important;
    &:hover, &:focus {
      color: $white !important;
      text-decoration: none !important;
    }
    &:before {
      margin-top: -0.9rem;
      font-size: 1.6rem;
      right: inherit;
      left: 1rem;
    }
  }
  .accordion-item.is-active .accordion-title:before {
    font-size: 2rem;
    margin-top: -1.2rem;
  }
  .accordion-item {
    margin-bottom: 0;
  }
  .accordion-content {
    a {
      color: $anchor-color !important;
    }
  }
}