.uw-hero {
  position: relative;
  > img {
    width: 100%;
  }
  > img.has-inset {
    display: none;
  }
  @include breakpoint(medium up) {
    > img.has-inset {
      display: block;
    }
  }
  &.uw-hero-constrained-height { // > 1200px fix hero height to 400px
    @include breakpoint(1200px) {
      > img {
        object-fit: cover;
        object-position: 100% 100%;
        max-height: 500px;
      }
    }
  }
}
.uw-hero-inset {
  background-color: #fff;
  .uw-hero-inset-content {
    padding: 1rem;
    > h3 {
      overflow-wrap: break-word;
      word-wrap: break-word;
      -ms-word-break: break-all;
      word-break: break-all;
      word-break: break-word;
      hyphens: auto;
    }
  }
  > img {
    margin-bottom: 1rem;
    + .uw-hero-inset-content .uw-mini-bar {
      margin-bottom: 0;
    }
  }
  p {
    margin-top: .25rem;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.3;
  }
  .uw-mini-bar {
    margin-top: 1rem;
  }
  .uw-link-list {
    margin-top: 0;
    margin-bottom: 0;
    li {
      margin-bottom: 0;
    }
  }
  @include breakpoint(medium up) {
    display: flex;
    .uw-hero-inset-image {
      flex-basis: 25%;
      max-width: 25%;
    }
    .uw-hero-inset-content {
      flex-basis: 75%;
      max-width: 75%;
      padding-top: 0;
      padding-bottom: 0;
    }
    // width: 300px;
    // position: absolute;
    // right: 10%;
    // bottom: 15%;
    background-color: #fff;
    padding: 20px;
    // border-bottom: 4px solid $primary-color;
    // .uw-hero-inset-content {
    //   padding: 0;
    // }
  }
  @include breakpoint(rem-calc(1000)) {
    display: block;
    width: 300px;
    position: absolute;
    right: 10%;
    top: 5%;
    background-color: #fff;
    padding: 20px;
    border-bottom: 4px solid $primary-color;
    .uw-mini-bar {
      margin-top: 2rem;
    }
    .uw-hero-inset-image {
      max-width: inherit;
    }
    .uw-hero-inset-content {
      max-width: inherit;
      padding: 0;
    }
  }
}