.image-gallery {
  @include flex-grid-row();
  @include flex-grid-layout(2, ".image-gallery-item");
  .image-gallery-item {
    padding: $global-padding/2;
    display: flex;
    .image-gallery-content {
      background-color: $white;
      padding: $global-padding;
      img {
        width: 100%;
      }
      .image-gallery-content-text {
        color: $body-font-color;
      }
    }
  }
  @include breakpoint(medium up) {
    @include flex-grid-layout(3, ".image-gallery-item");
  }
  @include breakpoint(large up) {
    @include flex-grid-layout(4, ".image-gallery-item");
  }
}