// text alignment
.uw-text-center {
  text-align: center;
}
.uw-text-left {
  text-align: left;
}
.uw-text-right {
  text-align: right
}

// clearfix
.uw-clearfix {
  &::before,
  &::after {
    content: ' ';
    display: table;
  }

  &::after {
    clear: both;
  }
}
