.uw-search-input[type="text"] {
  transition-duration: 400ms;
  transition-property: width, background;
  transition-timing-function: ease;
  // width: 6rem;
  height: 2.4rem;
  background-color:#fff;
  background: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5NTEgMTAyNCI+PHBhdGggY2xhc3M9InBhdGgxIiBkPSJNNjU4LjI4NiA0NzUuNDNxMC0xMDUuNzE1LTc1LjE0My0xODAuODU4VDQwMi4yODYgMjE5LjQzIDIyMS40MyAyOTQuNTcgMTQ2LjI4NSA0NzUuNDN0NzUuMTQzIDE4MC44NTYgMTgwLjg1NiA3NS4xNDMgMTgwLjg1Ny03NS4xNDQgNzUuMTQzLTE4MC44NTd6bTI5Mi41NyA0NzUuNDI3cTAgMjkuNzE0LTIxLjcxMyA1MS40M1Q4NzcuNzEzIDEwMjRxLTMwLjg1NiAwLTUxLjQyOC0yMS43MTRsLTE5Ni0xOTUuNDNxLTEwMi4yODYgNzAuODU4LTIyOCA3MC44NThRMzIwLjU3IDg3Ny43MTQgMjQ2IDg0NnQtMTI4LjU3Mi04NS43MTQtODUuNzE0LTEyOC41N1QwIDQ3NS40Mjh0MzEuNzE0LTE1Ni4yODcgODUuNzE0LTEyOC41NyAxMjguNTctODUuNzE1IDE1Ni4yODctMzEuNzE0IDE1Ni4yODYgMzEuNzE0IDEyOC41NzIgODUuNzE0IDg1LjcxNCAxMjguNTdUODA0LjU3IDQ3NS40M3EwIDEyNS43MTMtNzAuODU3IDIyOGwxOTYgMTk2cTIxLjE0MyAyMS4xNDIgMjEuMTQzIDUxLjQyOHoiIGZpbGw9IiM4ZThlOTIiIHRyYW5zZm9ybT0ic2NhbGUoMC41KSIgLz48L3N2Zz4=) no-repeat .5rem .6rem #fff;
  padding-left: 2rem;
  margin: 0;
  background-size: 32px;
}
.uw-search-input[type="text"]:focus {
  background-color: $body-background;
  width: 12rem;
}
.uw-search-submit[type="submit"] {
  display: none;
}

// if DOM switch script is used to move search input within menu
// for <640px viewports
li.uw-search-list-item form {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid $light-gray;
  text-align: center;
}
li.uw-search-list-item .uw-search-input[type="text"] {
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  transition: none;
}

.uw-gcse {
  .gsc-control-cse {
    padding: $global-padding*2;
  }
  .gsc-input-box {
    height: 2rem;
  }
  input {
    height: 2rem !important;
    padding-left: $global-padding;
  }
  .cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
    min-width: 40px;
    padding: 6px 10px;
  }
  .gsc-table-result {
    margin-left: 8px;
  }
  .gsc-webResult {
    padding: 0;
  }
  table {
    margin-bottom: 0;
    thead, tbody, tfoot {
      border: none;
      margin: 0;
      padding: 0;
      th, td {
        padding: 0;
      }
    }
  }
}